.imgs_peq {
  width: 20px;
  margin-right: 6px;
  margin-left: 3px;
}
footer {
  clear: both;

  margin: 0 auto;
  font-size: 0.75em;
  text-align: center;
  background-color: #FFF;
  padding: 5px;
}
main{
  text-align: center;
}
